#quiz-ajax{
    color: #535c69 !important;
}

.warning-notice{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: #cc0000;
}

.quiz-menu-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.quiz-menu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.quiz-add-link{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    border-radius: 2px;
    background: #bbed21;
    color: #767676;
}

.quiz-add-link:hover{
    background: #d2f95f;
    color: #767676;
}

.quiz-add-link:active{
    background: #b2e232;
    color: #767676;
}

.quiz-list-link{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    border-radius: 2px;
    background: #3bc8f5;
    color: #fff;
}

.quiz-list-link:hover{
    background: #3eddff;
    color: #fff;
}

.quiz-list-link:active{
    background: #12b1e3;
    color: #fff;
}

#quiz-add-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    color: #717a84;
}

.quiz-main-title{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 15px;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.quiz-main-description{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 15px;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

.quiz-add-head-input{
    box-sizing: border-box;
    width: 50% !important;
    height: auto;
    margin: 0;
    padding: 0 10px;
}

.quiz-add-titles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.quiz-add-title:first-child{
    padding: 0 15px 0 0;
}

.quiz-add-title:last-child{
    padding: 0 0 0 15px;
}

.quiz-add-title{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
}

.quiz-add{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.quiz-add-head,
.quiz-add-body{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 35px;
    padding: 0;
}

.quiz-add-body{
    margin: 0 auto 15px;
}

.quiz-add-caption{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 15px auto 0 !important;
    padding: 0;
}

.quiz-add-question-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto !important;
    padding: 0;
    border-bottom: 1px solid #717a84;
}

.quiz-add-question{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 15px 0 0;
}

.quiz-add-answers-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 20px 0 15px;
    position: relative;
}

.quiz-add-remove-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 2;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.quiz-add-remove-answer:hover{
    opacity: 0.8;
    color: #cc0000;
}

.quiz-add-input{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 10px;
}

.quiz-add-date-start,
.quiz-add-date-finish{
    box-sizing: border-box;
    width: 155px;
    height: 39px;
    margin: 0;
    padding: 0 11px;
    border: 1px solid #c6cdd3;
    border-radius: 2px;
    background: #fff;
    font-size: 14px;
    color: #535c69;
    transition: 0.2s;
}

.quiz-add-date-start:hover,
.quiz-add-date-finish:hover,
.quiz-add-date-start:active,
.quiz-add-date-finish:active{
    border-color: #66afe9;
}

.quiz-add-select-wrapper{
    width: 50%;
    max-width: 320px;
    height: 38px;
    margin: 0;
    padding: 0;
}

.quiz-add-select{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 11px;
}

.quiz-add-checkbox-wrapper{
    width: auto;
    height: auto;
    margin: 0 0 5px 0 !important;
    padding: 0;
}

.quiz-add-answer-button{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 15px 0;
    padding: 0;
    color: #2067b0;
    cursor: pointer;
    transition: 0.2s;
}

.quiz-add-question-button{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    color: #2067b0;
    cursor: pointer;
    transition: 0.2s;
}

.quiz-add-answer-button:hover,
.quiz-add-question-button:hover{
    opacity: 0.8;
}

/*QUIZ_LIST*start*/
.quiz-list-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.quiz-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.quiz-list-item-wrapper{
    box-sizing: border-box;
    width: 50%;
    height: auto;
    margin: 0;
    padding: 10px;
}

.quiz-list-item{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #c6cdd3;
    border-radius: 2px;
}

.quiz-title{

}

.quiz-title-success i{
    color: #3bc8f5;
}

.quiz-title a{
    transition: 0.2s;
}

.quiz-title:hover{
    opacity: 0.8;
}
/*QUIZ_LIST*end*/

/*QUIZ*start*/
.quiz-item-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.quiz-item-title{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 5px;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.quiz-item-description{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

.quiz-item-questions-list{

}

.quiz-item-question-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 25px;
    padding: 0;
}

.quiz-item-question-name{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 5px;
    padding: 0;
    font-size: 16px;
    position: relative;
}

.quiz-item-question-input-dropdown{
    display: none;
    box-sizing: border-box;
    width: 170px;
    height: auto;
    margin: 0;
    padding: 10px 5px;
    border: 1px solid #c6cdd3;
    border-radius: 2px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    font-size: 14px;
    text-align: center;
}

.quiz-item-answer-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 5px;
    padding: 0;
}

.quiz-item-answer-wrapper input[type="text"]{
    box-sizing: border-box;
    width: 50%;
    max-width: 480px;
    min-width: 320px;
    height: 29px;
    margin: 0;
    padding: 0 11px;
    border: 1px solid #c6cdd3;
    border-radius: 2px;
    background: #fff;
    font-size: 14px;
    color: #535c69;
    transition: 0.2s;
}

.quiz-item-answer-wrapper input[type="text"]:active,
.quiz-item-answer-wrapper input[type="text"]:hover{
    border-color: #66afe9;
}

.quiz-item-answer-wrapper textarea{
    box-sizing: border-box;
    width: 50%;
    max-width: 480px;
    min-width: 480px;
    height: auto;
    min-height: 150px;
    margin: 0;
    padding: 10px;
    border: 1px solid #c6cdd3;
    border-radius: 2px;
    background: #fff;
    font-size: 14px;
    color: #535c69;
    transition: 0.2s;
    outline: none;
    box-shadow: none;
}

.quiz-item-answer-wrapper textarea:active,
.quiz-item-answer-wrapper textarea:hover{
    border-color: #66afe9;
}

.quiz-item-answer-wrapper input[type="radio"]{
    width: 15px;
    height: 15px;
}

.quiz-item-answer-wrapper input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

.quiz-item-answer-name-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: auto;
    height: 27px;
    margin: 0 0 0 10px;
}

.quiz-item-answer-name-textarea{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0 0 0 10px;
}

.quiz-item-answer-name-radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: auto;
    height: 21px;
    margin: 0 0 0 5px;
}

.quiz-item-answer-name-checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: auto;
    height: 21px;
    margin: 0 0 0 5px;
}
/*QUIZ*end*/

/*QUIZ results*start*/
.quiz-result-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 35px;
    padding: 0;
}

.quiz-results-user{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 15px;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

.quiz-results-question-name{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 15px auto 5px;
    padding: 0;
    font-size: 15px;
    text-align: left;
    text-decoration: underline;
}

.quiz-results-caption{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 10px;
    padding: 0;
}

.quiz-results-type{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 3px;
    padding: 0;
    font-size: 14px;
    text-align: left;
}
/*QUIZ results*end*/